# Purchase Analysis-Pymoli

In [1]:
# Dependencies and Setup
import pandas as pd

pd.options.display.float_format = '{:,}'.format

# File to Load (Remember to Change These)
datapath = r"C:\Users\flier\DABootCampLierheimer\pandas-challenge\Resources\purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchases = pd.read_csv(datapath)

#Rename columns for ease of use, eliminate caps to reduce chance of typos 
purchases.columns = ['purchase_id', 'sn', 'age', 'gender', 'item_id','item_name', 'price']
print(purchases.head())

   purchase_id             sn  age gender  item_id  \
0            0        Lisim78   20   Male      108
1            1    Lisovynya38   40   Male      143
2            2     Ithergue48   24   Male       92
3            3  Chamassasya86   24   Male      100
4            4      Iskosia90   23   Male      131

                                   item_name  price
0  Extraction, Quickblade Of Trembling Hands   3.53
1                          Frenzied Scimitar   1.56
2                               Final Critic   4.88
3                                Blindscythe   3.27
4                                       Fury   1.44

In [5]:
#Introduce table borders
%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th {
    border: 1px  black solid !important;
  color: black !important;
}
</style>

SyntaxError: invalid syntax (<ipython-input-5-2073160f705c>, line 3)

## Player Count

* Display the total number of players

In [24]:
#Count total number of unique players by username 
total_players = purchases.sn.nunique()
print(f"The total number of players is {total_players}.")

The total number of players is 576.
<class 'int'>

In [88]:
#Create new df that only includes unique players 
unique_sn = purchases['sn'].unique()
unique_sn = pd.Series(unique_sn)
unique_sn = unique_sn.to_frame()
print(unique_sn.count())
gender = purchases[['sn', 'gender']]

#unique_purchases = pd.DataFrame(data = unique_purch, index = ['sn'], columns = ['gender'] )

0    576
dtype: int64

In [77]:
#Rename unique usernames dataframe so column is labeled as 'sn' for easier joining
unique_sn.columns = ['sn']
print(unique_sn.head())

              sn
0        Lisim78
1    Lisovynya38
2     Ithergue48
3  Chamassasya86
4      Iskosia90

In [93]:
#now, join gender and unique_sn
unique_sn_gender = pd.merge(unique_sn, gender, right_index = True, 
                            left_index = True)


print(unique_sn_gender.head())
print(unique_sn_gender.count())

               0             sn gender
0        Lisim78        Lisim78   Male
1    Lisovynya38    Lisovynya38   Male
2     Ithergue48     Ithergue48   Male
3  Chamassasya86  Chamassasya86   Male
4      Iskosia90      Iskosia90   Male
0         576
sn        576
gender    576
dtype: int64

In [95]:
print(unique_sn_gender[unique_sn_gender.gender == "Male"])
print(unique_sn_gender[unique_sn_gender.gender == "Female"])

                 0             sn gender
0          Lisim78        Lisim78   Male
1      Lisovynya38    Lisovynya38   Male
2       Ithergue48     Ithergue48   Male
3    Chamassasya86  Chamassasya86   Male
4        Iskosia90      Iskosia90   Male
..             ...            ...    ...
570   Iskossasda43     Chadossa56   Male
571         Hala31     Poshilsa82   Male
573     Aethedru70     Sundista37   Male
574     Yathecal72       Undare39   Male
575        Sisur91     Sondadar26   Male

[476 rows x 3 columns]
                  0               sn  gender
15        Lisassa64        Lisassa64  Female
18        Reunasu60        Reunasu60  Female
38         Reulae52         Reulae52  Female
41        Assosia88        Assosia88  Female
55         Raesty92        Phaelap26  Female
..              ...              ...     ...
555    Phiallylis33  Pheosurllorin41  Female
558      Chanista95    Lassadarsda57  Female
564  Frichirranya75       Chamjask73  Female
569       Ilosian36    Baelollodeu94  Female
572      Jiskjask80    Yoishirrala98  Female

[88 rows x 3 columns]

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
#Count unique items 
unique_items_count = purchases.item_id.nunique()

#Calculate average purchase price 
average_purchase_price = round(purchases.price.mean(), 2)

#Calculate total number of purchases 
total_purchases = purchases.purchase_id.count()

#Calculate total revenue
total_revenue = purchases.price.sum()

#Compile summary variables into dictionary to print out in more readable dataframe
summary_data = {'Number of Unique Items': [unique_items_count], 'Average Purchase Price':[average_purchase_price], 
                'Total Number of Purchases': [total_purchases], 'Total Revenue': [total_revenue]}

#Create summary DataFrame
summary_df = pd.DataFrame(summary_data)
#Format money-related columns with a $
summary_df['Average Purchase Price'] = summary_df['Average Purchase Price'].apply(lambda x: f"${x}")
summary_df['Total Revenue'] = summary_df['Total Revenue'].apply(lambda x: f"${x}")
#Come back to formatting total revenue with a thousands separator
#summary_df['Total Revenue'] = summary_df['Total Revenue'].map("{:,}".format)
summary_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,$2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [122]:
#Count & calculate percentage of male players
male =  unique_sn_gender[unique_sn_gender.gender == "Male"]
maleCounter = male['gender']
maleCount = maleCounter.count()
malePercent = round((maleCount/total_players), 4)
print(malePercent)

0.8264

In [131]:
#Count & calculate percentage of female players 
female = unique_sn_gender[unique_sn_gender.gender == "Female"]
femaleCounter = female['gender']
femaleCount = femaleCounter.count()
femalePercent = round(femaleCount/total_players, 4)

print(femalePercent)

0.1528

In [124]:
#Count & calculate percentage of players in other/not identified gender category
other = unique_sn_gender[(unique_sn_gender.gender != "Male") &
                        (unique_sn_gender.gender != "Female")]
otherCounter = other['gender']
otherCount = otherCounter.count()
otherPercent = round((otherCount/total_players), 4)
print(otherPercent)

0.0208

In [132]:
#Create Summary DataFrame
#dictionary of values to be displayed
summary_gender = {'Player Count': [maleCount, femaleCount, otherCount],
                  'Player Percentage': [malePercent, femalePercent,
                                        otherPercent]}

gender_demographics = pd.DataFrame(summary_gender, 
                                   index = ['Male','Female', 'Other/Not Disclosed'])

gender_demographics['Player Percentage'] = gender_demographics['Player Percentage'].map("{:.2%}".format)

gender_demographics

                     Player Count Player Percentage
Male                          476            82.64%
Female                         88            15.28%
Other/Not Disclosed            12             2.08%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80