## Observations and Insights

In [ ]:
##ADD IN NBVIEWER LINK HERE

In [102]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset

# Display the data table for preview

In [103]:
mouse_metadata

    Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0       k403     Ramicane    Male          21          16
1       s185    Capomulin  Female           3          17
2       x401    Capomulin  Female          16          15
3       m601    Capomulin    Male          22          17
4       g791     Ramicane    Male          11          16
..       ...          ...     ...         ...         ...
244     z314     Stelasyn  Female          21          28
245     z435     Propriva  Female          12          26
246     z581    Infubinol  Female          24          25
247     z795     Naftisol  Female          13          29
248     z969     Naftisol    Male           9          30

[249 rows x 5 columns]

In [104]:
study_results

     Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0        b128          0           45.000000                 0
1        f932          0           45.000000                 0
2        g107          0           45.000000                 0
3        a457          0           45.000000                 0
4        c819          0           45.000000                 0
...       ...        ...                 ...               ...
1888     r944         45           41.581521                 2
1889     u364         45           31.023923                 3
1890     p438         45           61.433892                 1
1891     x773         45           58.634971                 4
1892     b879         45           72.555239                 2

[1893 rows x 4 columns]

In [105]:
#Merge data along mouse id column, probably left join using study results as key? Try & See. 
merged_mice = pd.merge(study_results, mouse_metadata, how = 'left', on = 'Mouse ID', suffixes = ("_results", "_metadata"))
merged_mice

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.000000,0,Capomulin,Female,9,22
1,f932,0,45.000000,0,Ketapril,Male,15,29
2,g107,0,45.000000,0,Ketapril,Female,2,29
3,a457,0,45.000000,0,Ketapril,Female,11,30
4,c819,0,45.000000,0,Ketapril,Male,21,25
...,...,...,...,...,...,...,...,...
1888,r944,45,41.581521,2,Capomulin,Male,12,25
1889,u364,45,31.023923,3,Capomulin,Male,18,17
1890,p438,45,61.433892,1,Ceftamin,Female,11,26
1891,x773,45,58.634971,4,Placebo,Female,21,30
1892,b879,45,72.555239,2,Stelasyn,Female,4,26

In [106]:
# Checking the number of mice.
mouse_count = merged_mice['Mouse ID'].nunique()
mouse_count

249

In [107]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
merged_mice_unique = merged_mice.drop_duplicates(subset = ['Mouse ID', 'Timepoint'], keep = "first").reset_index()
merged_mice_unique

,index,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,0,b128,0,45.000000,0,Capomulin,Female,9,22
1,1,f932,0,45.000000,0,Ketapril,Male,15,29
2,2,g107,0,45.000000,0,Ketapril,Female,2,29
3,3,a457,0,45.000000,0,Ketapril,Female,11,30
4,4,c819,0,45.000000,0,Ketapril,Male,21,25
...,...,...,...,...,...,...,...,...,...
1883,1888,r944,45,41.581521,2,Capomulin,Male,12,25
1884,1889,u364,45,31.023923,3,Capomulin,Male,18,17
1885,1890,p438,45,61.433892,1,Ceftamin,Female,11,26
1886,1891,x773,45,58.634971,4,Placebo,Female,21,30
1887,1892,b879,45,72.555239,2,Stelasyn,Female,4,26

In [108]:
# Optional: Get all the data for the duplicate mouse ID. 
duplicate_mice = merged_mice.duplicated(subset = ['Mouse ID', 'Timepoint'], keep = 'first')
duplicate_mice_true = duplicate_mice.value_counts()
duplicate_mice_true_count = duplicate_mice_true.tolist()
duplicate_mice_true_count = duplicate_mice_true_count[1]
duplicate_mice

0       False
1       False
2       False
3       False
4       False
        ...
1888    False
1889    False
1890    False
1891    False
1892    False
Length: 1893, dtype: bool

In [109]:
#Find location of duplicate (copy) mice rows, put em in a list 
copy_mice = duplicate_mice[duplicate_mice == True].index
copy_mice = copy_mice.tolist()
copy_mice

[137, 360, 681, 869, 1111]

In [110]:
#Make a smaller df the duplicate mouse data 
#It's a list of each duplicate mouse for now, figure out how to make it a df later
copy_mice_data = []
for i in copy_mice:
    copy_mice_data.append(merged_mice.loc[i])
copy_mice_data

[Mouse ID                  g989
 Timepoint                    0
 Tumor Volume (mm3)          45
 Metastatic Sites             0
 Drug Regimen          Propriva
 Sex                     Female
 Age_months                  21
 Weight (g)                  26
 Name: 137, dtype: object,
 Mouse ID                  g989
 Timepoint                    5
 Tumor Volume (mm3)     47.5704
 Metastatic Sites             0
 Drug Regimen          Propriva
 Sex                     Female
 Age_months                  21
 Weight (g)                  26
 Name: 360, dtype: object,
 Mouse ID                  g989
 Timepoint                   10
 Tumor Volume (mm3)     49.8805
 Metastatic Sites             0
 Drug Regimen          Propriva
 Sex                     Female
 Age_months                  21
 Weight (g)                  26
 Name: 681, dtype: object,
 Mouse ID                  g989
 Timepoint                   15
 Tumor Volume (mm3)      53.442
 Metastatic Sites             0
 Drug Regimen          Propriva
 Sex                     Female
 Age_months                  21
 Weight (g)                  26
 Name: 869, dtype: object,
 Mouse ID                  g989
 Timepoint                   20
 Tumor Volume (mm3)     54.6577
 Metastatic Sites             1
 Drug Regimen          Propriva
 Sex                     Female
 Age_months                  21
 Weight (g)                  26
 Name: 1111, dtype: object]

In [111]:
merged_mice_unique.head()

,index,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,0,b128,0,45.0,0,Capomulin,Female,9,22
1,1,f932,0,45.0,0,Ketapril,Male,15,29
2,2,g107,0,45.0,0,Ketapril,Female,2,29
3,3,a457,0,45.0,0,Ketapril,Female,11,30
4,4,c819,0,45.0,0,Ketapril,Male,21,25

In [112]:
# Checking the number of mice in the clean DataFrame, called merged_mice_unique
mouseCountUnique = merged_mice_unique['Mouse ID'].count()
mouseCountUnique

1888

## Summary Statistics

### Calculate summary statistics one at a time, then build summary df

In [113]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
describe_table = merged_mice_unique.describe()
#Calculate mean & round result
mean_vol_by_treatment = merged_mice_unique.groupby('Drug Regimen').mean()['Tumor Volume (mm3)']
mean_vol_by_treatment = round(mean_vol_by_treatment, 2)

In [114]:
#Calculate median & round result
median_vol_by_treatment = merged_mice_unique.groupby('Drug Regimen').median()['Tumor Volume (mm3)']
median_vol_by_treatment = round(median_vol_by_treatment, 2)
median_vol_by_treatment

Drug Regimen
Capomulin    41.56
Ceftamin     51.78
Infubinol    51.82
Ketapril     53.70
Naftisol     52.51
Placebo      52.29
Propriva     50.91
Ramicane     40.67
Stelasyn     52.43
Zoniferol    51.82
Name: Tumor Volume (mm3), dtype: float64

In [115]:
#Calculate standard deviation and round result
stdev_vol_by_treatment = merged_mice_unique.groupby('Drug Regimen').std()['Tumor Volume (mm3)']
stdev_vol_by_treatment = round(stdev_vol_by_treatment, 2)
stdev_vol_by_treatment

Drug Regimen
Capomulin    4.99
Ceftamin     6.27
Infubinol    6.57
Ketapril     8.28
Naftisol     8.13
Placebo      7.82
Propriva     6.57
Ramicane     4.85
Stelasyn     7.71
Zoniferol    6.97
Name: Tumor Volume (mm3), dtype: float64

In [116]:
#Calculate standard error, round result
sem_vol_by_treatment = merged_mice_unique.groupby('Drug Regimen').sem()['Tumor Volume (mm3)']
sem_vol_by_treatment = round(sem_vol_by_treatment, 2)
sem_vol_by_treatment

Drug Regimen
Capomulin    0.33
Ceftamin     0.47
Infubinol    0.49
Ketapril     0.60
Naftisol     0.60
Placebo      0.58
Propriva     0.53
Ramicane     0.32
Stelasyn     0.57
Zoniferol    0.52
Name: Tumor Volume (mm3), dtype: float64

In [129]:
#Calculate variance, round result
var_vol_by_treatment = merged_mice_unique.groupby('Drug Regimen').var()['Tumor Volume (mm3)']
var_vol_by_treatment = round(var_vol_by_treatment, 2)
var_vol_by_treatment

Drug Regimen
Capomulin    24.95
Ceftamin     39.29
Infubinol    43.13
Ketapril     68.55
Naftisol     66.17
Placebo      61.17
Propriva     43.14
Ramicane     23.49
Stelasyn     59.45
Zoniferol    48.53
Name: Tumor Volume (mm3), dtype: float64

### Build summary df one series at a time using calculations above

In [123]:
#Combine all above series into one summary data table 
summaryA = mean_vol_by_treatment.to_frame()
summaryA.columns = ['Mean Tumor Vol']
summaryA

              Mean Tumor Vol
Drug Regimen
Capomulin              40.68
Ceftamin               52.59
Infubinol              52.88
Ketapril               55.24
Naftisol               54.33
Placebo                54.03
Propriva               52.39
Ramicane               40.22
Stelasyn               54.23
Zoniferol              53.24

In [124]:
#Add median measurement to summary df
summaryA['Median Tumor Vol'] = median_vol_by_treatment
summaryA

              Mean Tumor Vol  Median Tumor Vol
Drug Regimen
Capomulin              40.68             41.56
Ceftamin               52.59             51.78
Infubinol              52.88             51.82
Ketapril               55.24             53.70
Naftisol               54.33             52.51
Placebo                54.03             52.29
Propriva               52.39             50.91
Ramicane               40.22             40.67
Stelasyn               54.23             52.43
Zoniferol              53.24             51.82

In [125]:
#Add standard deviation measurement to summary df
summaryA['Std Deviation (Tumor Vol)'] = stdev_vol_by_treatment
summaryA

              Mean Tumor Vol  Median Tumor Vol  Std Deviation (Tumor Vol)
Drug Regimen
Capomulin              40.68             41.56                       4.99
Ceftamin               52.59             51.78                       6.27
Infubinol              52.88             51.82                       6.57
Ketapril               55.24             53.70                       8.28
Naftisol               54.33             52.51                       8.13
Placebo                54.03             52.29                       7.82
Propriva               52.39             50.91                       6.57
Ramicane               40.22             40.67                       4.85
Stelasyn               54.23             52.43                       7.71
Zoniferol              53.24             51.82                       6.97

In [126]:
#Add standard error measurement to summary df
summaryA['Std Error (Tumor Vol)'] = sem_vol_by_treatment
summaryA

,Mean Tumor Vol,Median Tumor Vol,Std Deviation (Tumor Vol),Std Error (Tumor Vol)
Drug Regimen,,,,
Capomulin,40.68,41.56,4.99,0.33
Ceftamin,52.59,51.78,6.27,0.47
Infubinol,52.88,51.82,6.57,0.49
Ketapril,55.24,53.70,8.28,0.60
Naftisol,54.33,52.51,8.13,0.60
Placebo,54.03,52.29,7.82,0.58
Propriva,52.39,50.91,6.57,0.53
Ramicane,40.22,40.67,4.85,0.32
Stelasyn,54.23,52.43,7.71,0.57
Zoniferol,53.24,51.82,6.97,0.52

In [130]:
summaryA['Variance (Tumor Vol)'] = var_vol_by_treatment
summaryA

,Mean Tumor Vol,Median Tumor Vol,Std Deviation (Tumor Vol),Std Error (Tumor Vol),Variance (Tumor Vol)
Drug Regimen,,,,,
Capomulin,40.68,41.56,4.99,0.33,24.95
Ceftamin,52.59,51.78,6.27,0.47,39.29
Infubinol,52.88,51.82,6.57,0.49,43.13
Ketapril,55.24,53.70,8.28,0.60,68.55
Naftisol,54.33,52.51,8.13,0.60,66.17
Placebo,54.03,52.29,7.82,0.58,61.17
Propriva,52.39,50.91,6.57,0.53,43.14
Ramicane,40.22,40.67,4.85,0.32,23.49
Stelasyn,54.23,52.43,7.71,0.57,59.45
Zoniferol,53.24,51.82,6.97,0.52,48.53

In [8]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# This method produces everything in a single groupby function

## Bar and Pie Charts

In [9]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pandas.

In [10]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen