In [3]:
# Import the Pandas library
import pandas as pd

In [4]:
# Create a reference the CSV file desired
ufo = pd.read_csv(r'C:\Users\flier\Desktop\du-den-data-pt-06-2020-u-c\Class_Materials\04-Pandas\2\Activities\05-Evr_PandasRecap\Unsolved\Resources\ufoSightings.csv')
# Read the CSV into a Pandas DataFrame

# Print the first five rows of data to the screen
print(ufo.head())

           datetime                  city state country     shape  \
0  10/10/1949 20:30            san marcos    tx      us  cylinder
1  10/10/1949 21:00          lackland afb    tx     NaN     light
2  10/10/1955 17:00  chester (uk/england)   NaN      gb    circle
3  10/10/1956 21:00                  edna    tx      us    circle
4  10/10/1960 20:00               kaneohe    hi      us     light

  duration (seconds) duration (hours/min)  \
0               2700           45 minutes
1               7200              1-2 hrs
2                 20           20 seconds
3                 20             1/2 hour
4                900           15 minutes

                                            comments date posted    latitude  \
0  This event took place in early fall around 194...   4/27/2004  29.8830556
1  1949 Lackland AFB&#44 TX.  Lights racing acros...  12/16/2005    29.38421
2  Green/Orange circular disc over Chester&#44 En...   1/21/2008        53.2
3  My older brother and twin sister were leaving ...   1/17/2004  28.9783333
4  AS a Marine 1st Lt. flying an FJ4B fighter/att...   1/22/2004  21.4180556

   longitude
0  -97.941111
1  -98.581082
2   -2.916667
3  -96.645833
4 -157.803611

C:\Users\flier\.conda\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (5,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
# Check to see if there are any rows with missing data
ufo.count()

datetime                80332
city                    80332
state                   74535
country                 70662
shape                   78400
duration (seconds)      80332
duration (hours/min)    80332
comments                80317
date posted             80332
latitude                80332
longitude               80332
dtype: int64

In [8]:
# Remove the rows with missing data
ufoNoNull = ufo.dropna(how = 'any')
print(ufoNoNull.count())

datetime                66516
city                    66516
state                   66516
country                 66516
shape                   66516
duration (seconds)      66516
duration (hours/min)    66516
comments                66516
date posted             66516
latitude                66516
longitude               66516
dtype: int64

In [14]:
# Filter the data so that only those sightings in the US are in a DataFrame
filterufo = ufoNoNull.loc[:, 'country']=='us'
usufo = ufoNoNull.loc[filterufo, :]
print(usufo.columns)

Index(['datetime', 'city', 'state', 'country', 'shape', 'duration (seconds)',
       'duration (hours/min)', 'comments', 'date posted', 'latitude',
       'longitude '],
      dtype='object')

In [17]:
# Count how many sightings have occured within each state
usufoStates = usufo['state'].value_counts()
print(usufoStates.head())

ca    8683
fl    3754
wa    3707
tx    3398
ny    2915
Name: state, dtype: int64

In [ ]:
# Convert the state_counts Series into a DataFrame

In [ ]:
# Convert the column name into "Sum of Sightings"

In [ ]:
# Want to add up the seconds UFOs are seen? There is a problem
# Problem can be seen by examining datatypes within the DataFrame