# Purchase Analysis-Pymoli

## NOTE: This will not render correctly on GitHub! Please click the following link to Jupyter's nb viewer to view this rendered correctly!

In [1]:
%%html
<a href="https://nbviewer.jupyter.org/github/faithlierheimer/DABootCampLierheimer/blob/master/pandas-challenge/HeroesOfPymoli.ipynb">NBViewer to see correct rendering!</a>

In [3]:
# Dependencies and Setup
import pandas as pd

pd.options.display.float_format = '{:,}'.format

# File to Load (Remember to Change These)
datapath = r"C:\Users\flier\DABootCampLierheimer\pandas-challenge\Resources\purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchases = pd.read_csv(datapath)

#Rename columns for ease of use, eliminate caps to reduce chance of typos 
purchases.columns = ['purchase_id', 'sn', 'age', 'gender', 'item_id','item_name', 'price']
print(purchases.count())

purchase_id    780
sn             780
age            780
gender         780
item_id        780
item_name      780
price          780
dtype: int64

## Player Count

* Display the total number of players

In [4]:
#Count total number of unique players by username 
total_players = purchases.sn.nunique()
print(f"The total number of players is {total_players}.")

The total number of players is 576.

In [5]:
#Create new df that only includes unique players 
unique_sn = purchases['sn'].unique()
unique_sn = pd.Series(unique_sn)
unique_sn = unique_sn.to_frame()
print(unique_sn.count())
gender = purchases[['sn', 'gender','age', 'item_id', 'age', 'purchase_id', 'item_name', 'price']]

0    576
dtype: int64

In [6]:
#Rename unique usernames dataframe so column is labeled as 'sn' for easier joining
unique_sn.columns = ['sn']
print(unique_sn.head())

              sn
0        Lisim78
1    Lisovynya38
2     Ithergue48
3  Chamassasya86
4      Iskosia90

In [7]:
#now, join gender and unique_sn
unique_sn_gender = pd.merge(unique_sn, gender, right_index = True, 
                            left_index = True)


print(unique_sn_gender.head())
print(unique_sn_gender.count())

            sn_x           sn_y gender  age  item_id  age  purchase_id  \
0        Lisim78        Lisim78   Male   20      108   20            0
1    Lisovynya38    Lisovynya38   Male   40      143   40            1
2     Ithergue48     Ithergue48   Male   24       92   24            2
3  Chamassasya86  Chamassasya86   Male   24      100   24            3
4      Iskosia90      Iskosia90   Male   23      131   23            4

                                   item_name  price
0  Extraction, Quickblade Of Trembling Hands   3.53
1                          Frenzied Scimitar   1.56
2                               Final Critic   4.88
3                                Blindscythe   3.27
4                                       Fury   1.44
sn_x           576
sn_y           576
gender         576
age            576
item_id        576
age            576
purchase_id    576
item_name      576
price          576
dtype: int64

In [8]:
print(unique_sn_gender[unique_sn_gender.gender == "Male"])
print(unique_sn_gender[unique_sn_gender.gender == "Female"])

              sn_x           sn_y gender  age  item_id  age  purchase_id  \
0          Lisim78        Lisim78   Male   20      108   20            0
1      Lisovynya38    Lisovynya38   Male   40      143   40            1
2       Ithergue48     Ithergue48   Male   24       92   24            2
3    Chamassasya86  Chamassasya86   Male   24      100   24            3
4        Iskosia90      Iskosia90   Male   23      131   23            4
..             ...            ...    ...  ...      ...  ...          ...
570   Iskossasda43     Chadossa56   Male   20       69   20          570
571         Hala31     Poshilsa82   Male   16      165   16          571
573     Aethedru70     Sundista37   Male   26      156   26          573
574     Yathecal72       Undare39   Male   23      131   23          574
575        Sisur91     Sondadar26   Male    9      137    9          575

                                     item_name  price
0    Extraction, Quickblade Of Trembling Hands   3.53
1                            Frenzied Scimitar   1.56
2                                 Final Critic   4.88
3                                  Blindscythe   3.27
4                                         Fury   1.44
..                                         ...    ...
570            Frenzy, Defender of the Harvest   1.98
571                Bone Crushing Silver Skewer   4.86
573               Soul-Forged Steel Shortsword   1.77
574                                       Fury   1.44
575             Aetherius, Boon of the Blessed   3.39

[476 rows x 9 columns]
               sn_x             sn_y  gender  age  item_id  age  purchase_id  \
15        Lisassa64        Lisassa64  Female   21       98   21           15
18        Reunasu60        Reunasu60  Female   22       82   22           18
38         Reulae52         Reulae52  Female   10      116   10           38
41        Assosia88        Assosia88  Female   20        7   20           41
55         Raesty92        Phaelap26  Female   25       84   25           55
..              ...              ...     ...  ...      ...  ...          ...
555    Phiallylis33  Pheosurllorin41  Female   23        7   23          555
558      Chanista95    Lassadarsda57  Female   25      108   25          558
564  Frichirranya75       Chamjask73  Female   22       52   22          564
569       Ilosian36    Baelollodeu94  Female   20       87   20          569
572      Jiskjask80    Yoishirrala98  Female   17      145   17          572

                                     item_name  price
15                 Deadline, Voice Of Subtlety   2.89
18                                     Nirvana    4.9
38                     Renewed Skeletal Katana   4.18
41                Thorn, Satchel of Dark Souls   1.33
55                                  Arcane Gem   3.79
..                                         ...    ...
555               Thorn, Satchel of Dark Souls   1.33
558  Extraction, Quickblade Of Trembling Hands   3.53
564                                     Hatred   4.84
569                   Deluge, Edge of the West   4.43
572                       Fiery Glass Crusader   4.58

[88 rows x 9 columns]

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
#Count unique items 
unique_items_count = purchases.item_id.nunique()

#Calculate average purchase price 
average_purchase_price = round(purchases.price.mean(), 2)

#Calculate total number of purchases 
total_purchases = purchases.purchase_id.count()

#Calculate total revenue
total_revenue = purchases.price.sum()

#Compile summary variables into dictionary to print out in more readable dataframe
summary_data = {'Number of Unique Items': [unique_items_count], 'Average Purchase Price':[average_purchase_price], 
                'Total Number of Purchases': [total_purchases], 'Total Revenue': [total_revenue]}

#Create summary DataFrame
summary_df = pd.DataFrame(summary_data)
#Format money-related columns with a $
summary_df['Average Purchase Price'] = summary_df['Average Purchase Price'].apply(lambda x: f"${x}")
summary_df['Total Revenue'] = summary_df['Total Revenue'].apply(lambda x: f"${x}")
#Come back to formatting total revenue with a thousands separator
#summary_df['Total Revenue'] = summary_df['Total Revenue'].map("{:,}".format)
summary_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,$2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [10]:
#Count & calculate percentage of male players
male =  unique_sn_gender[unique_sn_gender.gender == "Male"]
maleCounter = male['gender']
maleCount = maleCounter.count()
malePercent = round((maleCount/total_players), 4)
print(malePercent)

0.8264

In [11]:
#Count & calculate percentage of female players 
female = unique_sn_gender[unique_sn_gender.gender == "Female"]
femaleCounter = female['gender']
femaleCount = femaleCounter.count()
femalePercent = round(femaleCount/total_players, 4)

print(femalePercent)

0.1528

In [12]:
#Count & calculate percentage of players in other/not identified gender category
other = unique_sn_gender[(unique_sn_gender.gender != "Male") &
                        (unique_sn_gender.gender != "Female")]
otherCounter = other['gender']
otherCount = otherCounter.count()
otherPercent = round((otherCount/total_players), 4)
print(otherPercent)

0.0208

In [13]:
#Create Summary DataFrame
#dictionary of values to be displayed
summary_gender = {'Player Count': [maleCount, femaleCount, otherCount],
                  'Player Percentage': [malePercent, femalePercent,
                                        otherPercent]}

gender_demographics = pd.DataFrame(summary_gender, 
                                   index = ['Male','Female', 'Other/Not Disclosed'])

gender_demographics['Player Percentage'] = gender_demographics['Player Percentage'].map("{:.2%}".format)

gender_demographics

                     Player Count Player Percentage
Male                          476            82.64%
Female                         88            15.28%
Other/Not Disclosed            12             2.08%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [18]:
#Clean up column names

#unique_sn_gender = unique_sn_gender.drop('sn_x', axis = 1)

unique_sn_gender.columns = ['sn', 'gender', 'age1', 'item_id', 'age', 'purchase_id', 'item_name', 'price']
unique_sn_gender = unique_sn_gender.drop('age1', axis = 1)
unique_sn_gender

,sn,gender,item_id,age,purchase_id,item_name,price
0,Lisim78,Male,108,20,0,"Extraction, Quickblade Of Trembling Hands",3.53
1,Lisovynya38,Male,143,40,1,Frenzied Scimitar,1.56
2,Ithergue48,Male,92,24,2,Final Critic,4.88
3,Chamassasya86,Male,100,24,3,Blindscythe,3.27
4,Iskosia90,Male,131,23,4,Fury,1.44
...,...,...,...,...,...,...,...
571,Poshilsa82,Male,165,16,571,Bone Crushing Silver Skewer,4.86
572,Yoishirrala98,Female,145,17,572,Fiery Glass Crusader,4.58
573,Sundista37,Male,156,26,573,Soul-Forged Steel Shortsword,1.77
574,Undare39,Male,131,23,574,Fury,1.44
575,Sondadar26,Male,137,9,575,"Aetherius, Boon of the Blessed",3.39

#### Calculate purchase count, avg purchase price, total purchase value, avg purchase total per person by gender

In [19]:
#Female purchasing data 
##Female purchase count
female_purch_count = purchases[purchases.gender == "Female"].count()
female_purch_count = female_purch_count['gender']

In [20]:
##Female average purchase price
female_avg = purchases[(purchases.gender == "Female") & purchases.price]
female_avg_price = female_avg.price.mean()
female_avg_price = round(female_avg_price, 2)
female_avg_price

3.2

In [21]:
##Female total purchase value 
female_total_purchase = female_avg.price.sum()
female_total_purchase

361.94

In [22]:
##Female avg purchase total per person
female_avg_per_person = female_total_purchase/femaleCount
female_avg_per_person = round(female_avg_per_person, 2)
female_avg_per_person

4.11

In [23]:
#Male purchasing data
##Male Purchase Count
male_purch_count = purchases[purchases.gender == "Male"].count()
male_purch_count = male_purch_count['gender']
male_purch_count

652

In [24]:
##Male avg purchase price
male_avg = purchases[(purchases.gender == "Male") & purchases.price]
male_avg_price = male_avg.price.mean()
male_avg_price = round(male_avg_price, 2)
male_avg_price

3.02

In [25]:
##Male total purchase value
male_total_purchase = male_avg.price.sum()
male_total_purchase

1967.64

In [26]:
##Male avg purchase total per person
male_avg_per_person = male_total_purchase/maleCount
male_avg_per_person = round(male_avg_per_person, 2)
male_avg_per_person

4.13

In [27]:
#Other/Nondisclosed gender purchasing data
##Other purchase count
other_purch_count = purchases[(purchases.gender != "Male") & (purchases.gender != "Female")].count()
other_purch_count = other_purch_count['gender']
other_purch_count

15

In [28]:
##Other avg purchase price
other_avg = purchases[(purchases.gender != "Male") & (purchases.gender != "Female") & purchases.price]
other_avg_price = other_avg.price.mean()
other_avg_price = round(other_avg_price, 2)
other_avg_price

3.35

In [29]:
##Other total purchase value
other_total_purchase = other_avg.price.sum()
other_total_purchase

50.19

In [30]:
##Other avg total purch per person
other_avg_per_person = other_total_purchase/otherCount
other_avg_per_person = round(other_avg_per_person, 2)
other_avg_per_person

4.18

#### Compile results of above analysis into summary DataFrame

In [31]:
gender_purch = {'Purchase Count': [female_purch_count, male_purch_count, other_purch_count],
                  'Average Purchase Price': [female_avg_price, male_avg_price, other_avg_price],
                'Total Purchase Value': [female_total_purchase, male_total_purchase, other_total_purchase],
               'Average Total Purchase Per Person': [female_avg_per_person, male_avg_per_person, other_avg_per_person]}

gender_purchasing = pd.DataFrame(gender_purch, 
                                   index = ['Female','Male', 'Other/Not Disclosed'])

gender_purchasing['Total Purchase Value'] = gender_purchasing['Total Purchase Value'].map("${:,.2f}".format)
gender_purchasing['Average Total Purchase Per Person'] = gender_purchasing['Average Total Purchase Per Person'].map(
    "${:,.2f}".format)
gender_purchasing.style.set_table_styles(
    [{'selector': 'tr:hover',
      'props': [('background-color', 'yellow')]}]
)

gender_purchasing

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
Female,113,3.2,$361.94,$4.11
Male,652,3.02,"$1,967.64",$4.13
Other/Not Disclosed,15,3.35,$50.19,$4.18

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [32]:
#Find min and max age for binning
minAge = purchases.age.min()
maxAge = purchases.age.max()
print(minAge, maxAge)

7 45

In [34]:
#Establish bins for ages
bins = [0, 10, 15, 20, 25, 30, 35, 40, 45]
binlabels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
unique_sn_gender

,sn,gender,item_id,age,purchase_id,item_name,price
0,Lisim78,Male,108,20,0,"Extraction, Quickblade Of Trembling Hands",3.53
1,Lisovynya38,Male,143,40,1,Frenzied Scimitar,1.56
2,Ithergue48,Male,92,24,2,Final Critic,4.88
3,Chamassasya86,Male,100,24,3,Blindscythe,3.27
4,Iskosia90,Male,131,23,4,Fury,1.44
...,...,...,...,...,...,...,...
571,Poshilsa82,Male,165,16,571,Bone Crushing Silver Skewer,4.86
572,Yoishirrala98,Female,145,17,572,Fiery Glass Crusader,4.58
573,Sundista37,Male,156,26,573,Soul-Forged Steel Shortsword,1.77
574,Undare39,Male,131,23,574,Fury,1.44
575,Sondadar26,Male,137,9,575,"Aetherius, Boon of the Blessed",3.39

In [35]:
#Categorize existing players into age bins 
unique_sn_gender['age_group'] = pd.cut(unique_sn_gender['age'], bins, labels = binlabels )
unique_sn_gender

,sn,gender,item_id,age,purchase_id,item_name,price,age_group
0,Lisim78,Male,108,20,0,"Extraction, Quickblade Of Trembling Hands",3.53,15-19
1,Lisovynya38,Male,143,40,1,Frenzied Scimitar,1.56,35-39
2,Ithergue48,Male,92,24,2,Final Critic,4.88,20-24
3,Chamassasya86,Male,100,24,3,Blindscythe,3.27,20-24
4,Iskosia90,Male,131,23,4,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
571,Poshilsa82,Male,165,16,571,Bone Crushing Silver Skewer,4.86,15-19
572,Yoishirrala98,Female,145,17,572,Fiery Glass Crusader,4.58,15-19
573,Sundista37,Male,156,26,573,Soul-Forged Steel Shortsword,1.77,25-29
574,Undare39,Male,131,23,574,Fury,1.44,20-24
575,Sondadar26,Male,137,9,575,"Aetherius, Boon of the Blessed",3.39,<10

In [36]:
#Create groupby object to count the number of players in each age group 
AgeGroups = unique_sn_gender.groupby('age_group')
AgeGroups

In [38]:
#Explore and access individual elements of AgeGroups object
AgeGroupCount = AgeGroups.count()

In [39]:
AgeGroupCount

            sn  gender  item_id  age  purchase_id  item_name  price
age_group
<10         23      23       23   23           23         23     23
10-14       39      39       39   39           39         39     39
15-19      145     145      145  145          145        145    145
20-24      247     247      247  247          247        247    247
25-29       54      54       54   54           54         54     54
30-34       42      42       42   42           42         42     42
35-39       22      22       22   22           22         22     22
40+          4       4        4    4            4          4      4

In [44]:
#Drop repeat columns from groupby table
#AgeGroupCount = AgeGroupCount.drop(['gender', 'item_id', 'age', 'purchase_id', 'item_name', 'price'], axis = 1)
AgeGroupCount

            sn
age_group
<10         23
10-14       39
15-19      145
20-24      247
25-29       54
30-34       42
35-39       22
40+          4

In [46]:
#Rename Count Column
AgeGroupCount.columns = ['Total Count']
AgeGroupCount

           Total Count
age_group
<10                 23
10-14               39
15-19              145
20-24              247
25-29               54
30-34               42
35-39               22
40+                  4

In [54]:
#Add up total players across all age bins for percentage calculation
ageSum = 0
for i in AgeGroupCount['Total Count']:
    ageSum += i

ageSum

576

In [58]:
#Calculate percent share of total for each age group using list comprehensions, round result, check answer
percentAge = [(i/ageSum) for i in AgeGroupCount['Total Count']]
percentAgeRounded = [round(i, 4) for i in percentAge]
print(percentAgeRounded)

[0.0399, 0.0677, 0.2517, 0.4288, 0.0938, 0.0729, 0.0382, 0.0069]

In [60]:
#Add calculated percentages to age group count dataframe
AgeGroupCount['Percentage of Players'] = percentAgeRounded

AgeGroupCount

           Total Count  Percentage of Players
age_group
<10                 23                 0.0399
10-14               39                 0.0677
15-19              145                 0.2517
20-24              247                 0.4288
25-29               54                 0.0938
30-34               42                 0.0729
35-39               22                 0.0382
40+                  4                 0.0069

In [65]:
#Format percentage column as a percent
AgeGroupCount['Percentage of Players'] = AgeGroupCount['Percentage of Players'].map("{:2f%}".format)

#Display Age group Demographics DataFrame
AgeGroupCount

           Total Count Percentage of Players
age_group
<10                 23                 3.99%
10-14               39                 6.77%
15-19              145                25.17%
20-24              247                42.88%
25-29               54                 9.38%
30-34               42                 7.29%
35-39               22                 3.82%
40+                  4                 0.69%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [68]:
#Beginning with purchases DataFrame, bin data by age group. Use same bins/binlabels variables from earlier section
bins = [0, 10, 15, 20, 25, 30, 35, 40, 45]
binlabels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

In [70]:
#Cut purchasing data into bins, add new column for it.
purchases['age_group'] = pd.cut(purchases['age'], bins, labels = binlabels )
purchases.head()

,purchase_id,sn,age,gender,item_id,item_name,price,age_group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15-19
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,35-39
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [85]:
#Calculate and store purchase count by age group, starting with creating groupby object
agePurchase = purchases.groupby('age_group')
agePurchaseCount = agePurchase.count()
agePurchaseCount = agePurchaseCount.drop(['gender', 'item_id', 'age', 'purchase_id', 'item_name', 'price'], axis = 1)
agePurchaseCount

            sn
age_group
<10         32
10-14       54
15-19      200
20-24      325
25-29       77
30-34       52
35-39       33
40+          7

In [92]:
agePurchaseAvg = agePurchase.mean()
agePurchaseAvgList = [i for i in agePurchaseAvg['price']]
agePurchaseAvgListRounded = [round(i, 2) for i in agePurchaseAvgList]
agePurchaseAvgListRounded =

[3.4, 2.9, 3.11, 3.02, 2.88, 2.99, 3.4, 3.08]

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80